/* reset */

body, h1, h2, h3, a, li
section, div, ul, p, table {
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;

  text-decoration: inherit;
  text-align: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  font: inherit;
  color: inherit;

  background: transparent;
}

html {
  font-family: arial;
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

ul {
  list-style: none;
}

group:after {
  content: "";
  display: block;
  clear: both;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

#sidebar {
  float: left;
  width: 440px;
  background: #4D4D4D;
  height: 100%;
  color: #D7F2CE;
  /*color: #4D4D4D;*/
  text-align: center;
  font-size: 25px;
  /*font-weight: bold;*/
  /*background: lightgray*/
  /*background: #383838;
  color: #EDEDED;*/
  /*font-family: 'Century Gothic';*/


}



#name {
  padding: 40px 0 0 0;
  text-transform: uppercase;
  font-size: 40px;
}

#webdev {

}

#photo > img {
  padding: 40px 0;
  width: 300px;
  height: auto;
  margin: 0 auto;
}

#links {
  position: absolute;
  left: 300px;
}

#links > a {
  display: block;
  margin: 10px;
}



/*Main*/

#main {
  float: left;
  background: grey;
  height: 100%;
  color: #4D4D4D;
  width: calc(100% - 440px);
  background: #5C5C5C;
  background: #B5B5B5;
}

header {
  font-size: 35px;
  text-align: center;
}

#about {
  padding: 60px 30px;
  width: 700px;
  margin: 0 auto;
  /*background: lightgray;*/

}

#about > p {
  margin: 0 auto;
  /*background: lightgray;*/

  /*background: #D7F2CE;*/
  margin: 30px 0;
  font-size: 22px;
  color: #EDEDED;
  /*text-align: justify;*/
  line-height: 120%;
  /*color: #D7F2CE;*/
  /*font-family: 'Century Gothic';*/
  background: #B5B5B5;
  color: #333333;

}
